<%- include('partials/header') %>
<body>
	<!--  Body Wrapper -->
	<div
		class="page-wrapper"
		id="main-wrapper"
		data-layout="vertical"
		data-navbarbg="skin6"
		data-sidebartype="full"
		data-sidebar-position="fixed"
		data-header-position="fixed"
	>
		<%- include('partials/sidebar') %>

		<!--  Main wrapper -->
		<div class="body-wrapper">
			<%- include('partials/header-top') %>
			<div class="container-fluid">
				<div class="card">
					<div class="d-flex">
						<div class="card w-100">
							<div class="card-body p-4">
								<h5 class="card-title fw-semibold mb-4">Duyuru Listele</h5>
								<div class="table-responsive">
									<table class="table text-nowrap mb-0 align-middle">
										<thead class="text-dark fs-4">
											<tr>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">Duyuru Adı</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">Duyuru Açıklaması</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">Duyuru Tarihi</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">Duyuru Bitiş Tarihi</h6>
												</th>
												<th class="border-bottom-0">
													<h6 class="fw-semibold mb-0">İşlem</h6>
												</th>
											</tr>
										</thead>
										<tbody>
											<% for (announce of announces ) { %>
											<tr>
												<td class="border-bottom-0">
													<span class="fw-normal mb-0"><%= announce.name %></span>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal mb-0"><%= announce.description %></p>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal mb-0"><%= announce.date %></p>
												</td>
												<td class="border-bottom-0">
													<p class="mb-0 fw-normal mb-0"><%= announce.endDate %></p>
												</td>
												<td class="border-bottom-0">
													<a href="/edit-announce/<%= announce._id %>">
														<button type="button" class="btn btn-primary">Düzenle</button>
													</a>
												</td>
											</tr>
											<% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/sidebarmenu.js"></script>
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>
